#root {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('./assets/posada2.jpeg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;

}

.custom-button {

  font-family: 'MedievalSharp', cursive;
  /* background-color: #5a5959; */
}

h1 {
  padding-top: 350px;
  color: white;
  font-family: 'MedievalSharp', cursive;
}

.container {
  display: flex;
  width: 1000px;
  height: 450px;
  align-items: end;
}

.pad {
  height: 200px;
  width: 180px;
  background-size: cover;
  cursor: pointer;
}

.pad:hover {
  cursor: pointer;
}

.pad-0 {
  margin-left: 100px;
}

.pad-1 {
  margin-left: 15px;
}

.pad-2 {
  margin-left: 15px;
}

.pad-3 {
  margin-left: 15px;
}